################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TaskbarHook/bin/Debug
/TaskbarHook/obj
/.vs/TaskbarHook/v15/Server/sqlite3
