################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TaskbarHook/bin/Debug
/TaskbarHook/obj
/.vs/TaskbarHook/v15/Server/sqlite3
/.vs/TaskbarHook/v15
/Example/bin/Debug
/Example/obj/Debug
/Example/obj/Release
/TaskbarHook/bin/Release
/Example/bin/Release
